.row {
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
}

.row p {
    background-color: cornflowerblue;
    margin: 10PX 30px;
    padding: 20PX 60px;
}

.col {
    background-color: burlywood;
    display: flex;
    flex-wrap: wrap;
}

.col p {
    background-color: coral;
    margin: 10PX 30px;
    padding: 20PX 60px;
}

.btn {
    border: 1px solid blue;
    text-decoration: none;
    padding: 10px;
    margin: 50%;
    font-weight: bold;
}